body {
    width: 1200px;
    height: 500px;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
#glavni {
    width: 1200px;
    height: 500px;
    margin: auto;
    background-image: linear-gradient(to right, rgb(184, 184, 240), rgb(181, 243, 181));
    margin-top: 30px;
    box-shadow: 3px 3px grey;
    font-size: 14px;
}

#centar, #desno {
    height: 80%;
    margin-top: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
}

#levo {
    width: 80%;
    line-height: 80%;
    margin-top: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
}

#donji {
    width: 1200px;
    height: auto;
    margin: auto;
    border: 1px solid black;
    background-image: linear-gradient(to left, rgb(184, 184, 240), rgb(181, 243, 181));
    margin-top: 30px;
}

div >a {
    width: 30px;
    line-height: 30px;
    text-align: center;
}


#podaci {
    border: 1px solid black;
    font-size: 13px;
    box-shadow: 3px 3px grey;
    
}


#obrazovanje {
    border: 1px solid black;
    font-size: 13px;
    box-shadow: 3px 3px grey;
}

#iskustvo {
    display: inline-block;
    border: 1px solid black;
    font-size: 13px;
    box-shadow: 3px 3px grey;
}

#index-fotka {
    height: 80%;
    margin-top: 40px;
    border: 1px solid black;
    box-shadow: 2px 2px grey;
}

div >a {
    width: 30px;
    line-height: 30px;
    text-align: center;
}

#levi { 
    width: 40%;
    line-height: 80%;
    margin-top: 40px;
    border: 1px solid black;
}

#desni {
    width: 60%;
    line-height: 80%;
    margin-top: 40px;
    border: 1px solid black;
}
#social > a:hover {
    background-color: aquamarine;
    text-decoration: none;
}

td {
    min-width: 300px;
    line-height: 10px;
    font-size: 16px;
}